In [0]:
#Let's get all the pandas libraries ready
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score
from xgboost import XGBClassifier
import category_encoders as ce

In [2]:
#get category encoders
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/6e/a1/f7a22f144f33be78afeb06bfa78478e8284a64263a3c09b1ef54e673841e/category_encoders-2.0.0-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 5.7MB/s
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.2)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.4)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.13.2)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.0.0

In [0]:

train_url = 'https://raw.githubusercontent.com/Hira63S/Master-Your-Money/master/2017-4th%20Quarter.csv'
train_mor_url= 'https://raw.githubusercontent.com/Hira63S/Master-Your-Money/master/mor17.csv'
train_exp_url ='https://raw.githubusercontent.com/Hira63S/Master-Your-Money/master/2017%20Quarter%204%20-Big%20Categories%20expenditure.csv'
pat = 'https://raw.githubusercontent.com/master-your-money-bw/data-science/master/datasets/almost_final.csv'

In [0]:
train = pd.read_csv(train_url)
train_mor = pd.read_csv(train_mor_url)
train_exp = pd.read_csv(train_exp_url)
pat =pd.read_csv(pat)

In [13]:
train.tail(20)

      INC_RNKM  INC_RNK5  INC_RNK4  INC_RNK3  ...  DIVISION  REFGEN  HISP_REF  HISP2
2890  0.827712  0.821334  0.821124  0.825518  ...       1.0     3.0         2    NaN
2891  0.828016  0.821638  0.821427  0.825821  ...       1.0     3.0         2    NaN
2892  0.738895  0.569653  0.397821  0.837283  ...       8.0     3.0         1    NaN
2893  0.963900  0.963182  0.964919  0.966551  ...       8.0     3.0         1    NaN
2894  0.999638  0.999638  0.999638  0.999638  ...       2.0     3.0         2    2.0
2895  1.000000  1.000000  1.000000  1.000000  ...       2.0     3.0         2    2.0
2896  0.366997  0.370259  0.366167  0.375033  ...       7.0     3.0         2    NaN
2897  0.365650  0.368912  0.364819  0.373685  ...       7.0     3.0         2    NaN
2898  0.809375  0.809844  0.768440  0.823675  ...       2.0     5.0         2    2.0
2899  0.809788  0.782938  0.827851  0.793174  ...       2.0     5.0         2    2.0
2900  0.803089  0.793702  0.797298  0.802275  ...       7.0     4.0         2    2.0
2901  0.803517  0.794130  0.797727  0.802703  ...       7.0     4.0         2    2.0
2902  0.237384  0.252536  0.246529  0.254017  ...       3.0     5.0         2    NaN
2903  0.238744  0.253897  0.247890  0.255377  ...       3.0     5.0         2    NaN
2904  0.395571  0.262625  0.408520  0.483884  ...       5.0     3.0         2    2.0
2905  0.312648  0.352368  0.317850  0.357137  ...       5.0     3.0         2    2.0
2906  0.814607  0.805362  0.808316  0.811111  ...       5.0     4.0         2    NaN
2907  0.815041  0.805795  0.808750  0.811545  ...       5.0     4.0         2    NaN
2908  0.703517  0.710774  0.704304  0.725255  ...       2.0     3.0         2    NaN
2909  0.693793  0.710576  0.671254  0.672528  ...       2.0     3.0         2    NaN

[20 rows x 382 columns]

In [0]:
train_mor.tail(50)

       QYEAR    NEWID  SEQNO  ALCNO  ...  PAYINT  PAYINT_ REFI  REFI_
11850  20181  3858041     20      0  ...     2.0        D  2.0      D
11851  20181  3858101     10      0  ...     2.0        D  1.0      D
11852  20181  3858111     21      0  ...     2.0        D  2.0      D
11853  20181  3858241      9      0  ...     2.0        D  1.0      D
11854  20181  3858281     14      0  ...     2.0        D  1.0      D
11855  20181  3858301      5      0  ...     NaN        A  2.0      D
11856  20181  3858311     20      0  ...     2.0        D  1.0      D
11857  20181  3858421     19      0  ...     2.0        D  1.0      D
11858  20181  3858631     17      0  ...     2.0        D  1.0      D
11859  20181  3858661     25      0  ...     2.0        D  1.0      D
11860  20181  3858811     20      0  ...     2.0        D  2.0      D
11861  20181  3858821     14      0  ...     2.0        D  1.0      D
11862  20181  3858831     14      0  ...     2.0        D  2.0      D
11863  20181  3858931     25      0  ...     2.0        D  2.0      D
11864  20181  3858951      5      0  ...     NaN        A  NaN      C
11865  20181  3858971     29      0  ...     2.0        D  1.0      D
11866  20181  3859081     11      0  ...     2.0        D  1.0      D
11867  20181  3859091     20      0  ...     2.0        D  2.0      D
11868  20181  3859121     25      0  ...     2.0        D  1.0      D
11869  20181  3859131     24      0  ...     2.0        D  2.0      D
11870  20181  3859261      8      0  ...     2.0        D  1.0      D
11871  20181  3859331     21      0  ...     2.0        D  1.0      D
11872  20181  3859381      8      0  ...     2.0        D  1.0      D
11873  20181  3859591     10      0  ...     2.0        D  1.0      D
11874  20181  3859591     11      0  ...     2.0        D  2.0      D
11875  20181  3859611     11      0  ...     2.0        D  2.0      D
11876  20181  3859631     44      0  ...     2.0        D  2.0      D
11877  20181  3859661     14      0  ...     2.0        D  2.0      D
11878  20181  3859721     36      0  ...     2.0        D  2.0      D
11879  20181  3859811      9      0  ...     2.0        D  2.0      D
11880  20181  3859851     19      0  ...     2.0        D  2.0      D
11881  20181  3859911     10      0  ...     2.0        D  2.0      D
11882  20181  3859921     31      0  ...     2.0        D  2.0      D
11883  20181  3859931     12      0  ...     2.0        D  2.0      D
11884  20181  3859931     13      0  ...     2.0        D  2.0      D
11885  20181  3859941     19      0  ...     2.0        D  2.0      D
11886  20181  3859991     15      0  ...     2.0        D  1.0      D
11887  20181  3860021     24      0  ...     2.0        D  1.0      D
11888  20181  3860051     22      0  ...     2.0        D  2.0      D
11889  20181  3860121      9      0  ...     2.0        D  2.0      D
11890  20181  3860161     37      0  ...     2.0        D  1.0      D
11891  20181  3860241     30      0  ...     2.0        D  2.0      D
11892  20181  3860311     19      0  ...     2.0        D  1.0      D
11893  20181  3860321      6      0  ...     2.0        D  1.0      D
11894  20181  3860351     11      0  ...     2.0        D  2.0      D
11895  20181  3860471     37      0  ...     2.0        D  2.0      D
11896  20181  3860571     30      0  ...     2.0        D  1.0      D
11897  20181  3860601     17      0  ...     2.0        D  2.0      D
11898  20181  3860611      5      0  ...     2.0        D  2.0      D
11899  20181  3860651      9      0  ...     2.0        D  2.0      D

[50 rows x 75 columns]

In [35]:
print(train.shape)
print(train_mor.shape)

(2910, 382)
(11900, 75)

In [14]:
pat.head(20)

    Unnamed: 0    NEWID  ...  Income minus total expenses  possible savings
0            0  3566504  ...                    10803.225       3601.075000
1            1  3566514  ...                     8102.250       2700.750000
2            2  3566534  ...                  -125337.900     -41779.300000
3            3  3566544  ...                    17738.250       5912.750000
4            4  3566624  ...                     5068.550       1689.516667
5            5  3566634  ...                    13701.850       4567.283333
6            6  3566644  ...                     -733.750       -244.583333
7            7  3566664  ...                     1460.600        486.866667
8            8  3566704  ...                    -1018.100       -339.366667
9            9  3566714  ...                    11564.075       3854.691667
10          10  3566754  ...                     4608.100       1536.033333
11          11  3566764  ...                   -59615.210     -19871.736667
12          12  3566784  ...                     -272.000        -90.666667
13          13  3566864  ...                     9528.550       3176.183333
14          14  3566924  ...                       40.950         13.650000
15          15  3566934  ...                    -4660.150      -1553.383333
16          16  3566944  ...                    -1703.750       -567.916667
17          17  3566954  ...                     1710.400        570.133333
18          18  3566984  ...                    19573.563       6524.521000
19          19  3567004  ...                     -213.800        -71.266667

[20 rows x 12 columns]

In [0]:
#Let's clean up all the zeros
import numpy as np
pat= pat.replace(0, np.nan)
pat = pat.fillna(method='ffill')
pat = pat.fillna(method='bfill')

In [0]:
#features engineering

pat["Monthly after tax income"]= pat["FINATXEM"]/12
pat["MPC"]=  pat['Total expenses']/12/pat['Monthly after tax income']
pat['Necessity_ratio']= ((pat['Total Housing']+ pat['Total Food']+pat['Total Transportation cost'])/3)/pat['Monthly after tax income']
pat['Luxury_ratio']=(pat["Luxury expenses"]/3)/pat['Monthly after tax income']
pat['Savings_ratio']=([pat['possible savings']])/pat['Monthly after tax income']

pat['delta_necessity']= 0.5 - pat

In [8]:
pat.head(20)

    Unnamed: 0    NEWID  ...       MPC  Necessity_ratio
0          1.0  3566504  ...  0.130880         0.405769
1          1.0  3566514  ...  0.122247         0.367449
2          2.0  3566534  ... -0.404094        -0.703301
3          3.0  3566544  ...  0.120437         0.280013
4          4.0  3566624  ...  0.156738         0.546374
5          5.0  3566634  ...  0.142288         0.456133
6          6.0  3566644  ...  0.278640         0.901639
7          7.0  3566664  ...  0.127079         1.046253
8          8.0  3566704  ...  0.311699         0.941276
9          9.0  3566714  ...  0.068415         0.219647
10        10.0  3566754  ...  0.180436         0.484282
11        11.0  3566764  ...  0.621925         1.302117
12        12.0  3566784  ...  0.264131         0.835204
13        13.0  3566864  ...  0.172940         0.352636
14        14.0  3566924  ...  0.249117         0.809520
15        15.0  3566934  ...  0.604239         2.076106
16        16.0  3566944  ...  0.314524         0.659724
17        17.0  3566954  ...  0.215104         0.681849
18        18.0  3566984  ...  0.134513         0.302512
19        19.0  3567004  ...  0.255888         0.627909

[20 rows x 15 columns]

In [9]:
#Let's check for some NaN values
pat.isnull().sum()

Unnamed: 0                     0
NEWID                          0
Total expenses                 0
Entertainment                  0
Total Transportation cost      0
Total Housing                  0
Total Food                     0
Income before tax              0
Luxury expenses                0
FINATXEM                       0
Income minus total expenses    0
possible savings               0
Monthly after tax income       0
MPC                            0
Necessity_ratio                0
dtype: int64

In [42]:
pat.describe()

        Unnamed: 0         NEWID  ...  Monthly after tax income          MPC
count  5993.000000  5.993000e+03  ...               5993.000000  5993.000000
mean   3001.472384  3.691977e+06  ...               5367.392002     1.339899
std    1734.285431  7.339658e+04  ...               4742.836487    81.442184
min       0.000000  3.566504e+06  ...             -27687.583333    -3.045551
25%    1498.000000  3.642113e+06  ...               2125.416667     0.084464
50%    3002.000000  3.696952e+06  ...               4099.750000     0.145791
75%    4503.000000  3.759113e+06  ...               7198.266667     0.229914
max    6003.000000  3.808411e+06  ...              37368.350000  6304.500000

[8 rows x 14 columns]

In [0]:
pat =pat[pat.FINATXEM != 0]

In [38]:
pat['MPC'].mean()

inf

In [0]:
#Let's rename the Unnamed column

In [0]:
train.columns.tolist()

['INC_RNKM',
 'INC_RNK5',
 'INC_RNK4',
 'INC_RNK3',
 'INC_RNK2',
 'INC_RNK1',
 'INC_RANK',
 'NEWID',
 'AGE_REF',
 'AGE_REF_',
 'AGE2',
 'AGE2_',
 'BLS_URBN',
 'CUTENURE',
 'CUTE_URE',
 'DESCRIP',
 'DESCRIP_',
 'EARNCOMP',
 'EARN_OMP',
 'EDUC_REF',
 'EDUC0REF',
 'EDUCA2',
 'EDUCA2_',
 'EMPLTYP1',
 'EMPL_YP1',
 'EMPLTYP2',
 'EMPL_YP2',
 'FAM_SIZE',
 'FAM__IZE',
 'FAM_TYPE',
 'FAM__YPE',
 'FGVX',
 'FGVX_',
 'FINCBEFX',
 'FINC_EFX',
 'FINLWT21',
 'FIRAX',
 'FIRAX_',
 'FJSSDEDX',
 'FJSS_EDX',
 'FPVTX',
 'FPVTX_',
 'FREEMLX',
 'FREEMLX_',
 'FRRX',
 'FRRX_',
 'FS_MTHI',
 'FS_MTHI_',
 'FSS_RRX',
 'FSS_RRX_',
 'FSUPPX',
 'FSUPPX_',
 'FWAGEX',
 'FWAGEX_',
 'HRSPRWK1',
 'HRSP_WK1',
 'HRSPRWK2',
 'HRSP_WK2',
 'JFS_AMT',
 'JFS_AMT_',
 'JGRCFDMV',
 'JGRC_DMV',
 'JGRCFDWK',
 'JGRC_DWK',
 'JGROCYMV',
 'JGRO_YMV',
 'JGROCYWK',
 'JGRO_YWK',
 'LUMPX',
 'LUMPX_',
 'MARITAL1',
 'MARI_AL1',
 'NO_EARNR',
 'NO_E_RNR',
 'OCCEXPNX',
 'OCCE_PNX',
 'OCCULIS2',
 'OCCU_IS2',
 'OTHINX',
 'OTHINX_',
 'OTHRECX',
 'OTHRECX_',
 'PERSLT18',
 'PERS_T18',
 'PERSOT64',
 'PERS_T64',
 'OCCULIS1',
 'OCCU_IS1',
 'POPSIZE',
 'RACE2',
 'RACE2_',
 'REC_FS',
 'REC_FS_',
 'REF_RACE',
 'REF__ACE',
 'REGION',
 'SEX_REF',
 'SEX_REF_',
 'SEX2',
 'SEX2_',
 'SMSASTAT',
 'STRTMNTH',
 'STRTYEAR',
 'TYPOWND',
 'TYPOWND_',
 'VEHQ',
 'VEHQ_',
 'WEEKI',
 'WEEKI_',
 'WEEKN',
 'WELFRX',
 'WELFRX_',
 'WHYNWRK1',
 'WHYN_RK1',
 'WHYNWRK2',
 'WHYN_RK2',
 'WK_WRKD1',
 'WK_W_KD1',
 'WK_WRKD2',
 'WK_W_KD2',
 'WTREP01',
 'WTREP02',
 'WTREP03',
 'WTREP04',
 'WTREP05',
 'WTREP06',
 'WTREP07',
 'WTREP08',
 'WTREP09',
 'WTREP10',
 'WTREP11',
 'WTREP12',
 'WTREP13',
 'WTREP14',
 'WTREP15',
 'WTREP16',
 'WTREP17',
 'WTREP18',
 'WTREP19',
 'WTREP20',
 'WTREP21',
 'WTREP22',
 'WTREP23',
 'WTREP24',
 'WTREP25',
 'WTREP26',
 'WTREP27',
 'WTREP28',
 'WTREP29',
 'WTREP30',
 'WTREP31',
 'WTREP32',
 'WTREP33',
 'WTREP34',
 'WTREP35',
 'WTREP36',
 'WTREP37',
 'WTREP38',
 'WTREP39',
 'WTREP40',
 'WTREP41',
 'WTREP42',
 'WTREP43',
 'WTREP44',
 'FOODTOT',
 'FOODHOME',
 'CEREAL',
 'BAKEPROD',
 'BEEF',
 'PORK',
 'OTHMEAT',
 'POULTRY',
 'SEAFOOD',
 'EGGS',
 'MILKPROD',
 'OTHDAIRY',
 'FRSHFRUT',
 'FRSHVEG',
 'PROCFRUT',
 'PROCVEG',
 'SWEETS',
 'NONALBEV',
 'OILS',
 'MISCFOOD',
 'FOODAWAY',
 'ALCBEV',
 'SMOKSUPP',
 'PET_FOOD',
 'PERSPROD',
 'PERSSERV',
 'DRUGSUPP',
 'HOUSKEEP',
 'HH_CU_Q',
 'HH_CU_Q_',
 'HHID',
 'HHID_',
 'CHILDAGE',
 'CHIL_AGE',
 'INCLASS',
 'STATE',
 'INC__ANK',
 'CUID',
 'HORREF1',
 'HORREF1_',
 'HORREF2',
 'HORREF2_',
 'FGVXM',
 'FGVXM_',
 'FINCBEFM',
 'FINC_EFM',
 'FINCBEF1',
 'FINCBEF2',
 'FINCBEF3',
 'FINCBEF4',
 'FINCBEF5',
 'FINCBEFI',
 'FJSSDEDM',
 'FJSS_EDM',
 'FJSSDED1',
 'FJSSDED2',
 'FJSSDED3',
 'FJSSDED4',
 'FJSSDED5',
 'FPVTXM',
 'FPVTXM_',
 'FRRXM',
 'FRRXM_',
 'FS_AMTXM',
 'FS_A_TXM',
 'FS_AMTX1',
 'FS_AMTX2',
 'FS_AMTX3',
 'FS_AMTX4',
 'FS_AMTX5',
 'FS_AMTXI',
 'FSS_RRXM',
 'FSS__RXM',
 'FSS_RRX1',
 'FSS_RRX2',
 'FSS_RRX3',
 'FSS_RRX4',
 'FSS_RRX5',
 'FSS_RRXI',
 'FSUPPXM',
 'FSUPPXM_',
 'FSUPPX1',
 'FSUPPX2',
 'FSUPPX3',
 'FSUPPX4',
 'FSUPPX5',
 'FSUPPXI',
 'FWAGEXM',
 'FWAGEXM_',
 'FWAGEX1',
 'FWAGEX2',
 'FWAGEX3',
 'FWAGEX4',
 'FWAGEX5',
 'FWAGEXI',
 'INC__NKM',
 'JFS_AMTM',
 'JFS__MTM',
 'JFS_AMT1',
 'JFS_AMT2',
 'JFS_AMT3',
 'JFS_AMT4',
 'JFS_AMT5',
 'OTHINXM',
 'OTHINXM_',
 'OTHINX1',
 'OTHINX2',
 'OTHINX3',
 'OTHINX4',
 'OTHINX5',
 'OTHINXI',
 'WELFRXM',
 'WELFRXM_',
 'WELFRX1',
 'WELFRX2',
 'WELFRX3',
 'WELFRX4',
 'WELFRX5',
 'WELFRXI',
 'PICKCODE',
 'LUMPB',
 'LUMPB_',
 'LUMPBX',
 'LUMPBX_',
 'OTHINB',
 'OTHINB_',
 'OTHINBX',
 'OTHINBX_',
 'WELFRB',
 'WELFRB_',
 'WELFRBX',
 'WELFRBX_',
 'PSU',
 'HIGH_EDU',
 'FSMPFRMX',
 'FSMP_RMX',
 'FSMPFRX1',
 'FSMPFRX2',
 'FSMPFRX3',
 'FSMPFRX4',
 'FSMPFRX5',
 'FSMPFRXI',
 'FSMPFRXM',
 'INTRDVB',
 'INTRDVB_',
 'INTRDVBX',
 'INTR_VBX',
 'INTRDVX',
 'INTRDVX_',
 'INTRDVX1',
 'INTRDVX2',
 'INTRDVX3',
 'INTRDVX4',
 'INTRDVX5',
 'INTRDVXI',
 'INTRDVXM',
 'NETRENTB',
 'NETR_NTB',
 'NETRENTX',
 'NETR_NTX',
 'NETRNTBX',
 'NETR_TBX',
 'NETRENT1',
 'NETRENT2',
 'NETRENT3',
 'NETRENT4',
 'NETRENT5',
 'NETRENTI',
 'NETRENTM',
 'OTHREGB',
 'OTHREGB_',
 'OTHREGBX',
 'OTHR_GBX',
 'OTHREGX',
 'OTHREGX_',
 'OTHREGX1',
 'OTHREGX2',
 'OTHREGX3',
 'OTHREGX4',
 'OTHREGX5',
 'OTHREGXI',
 'OTHREGXM',
 'RETSRVBX',
 'RETS_VBX',
 'RETSURVB',
 'RETS_RVB',
 'RETSURVX',
 'RETS_RVX',
 'RETSURV1',
 'RETSURV2',
 'RETSURV3',
 'RETSURV4',
 'RETSURV5',
 'RETSURVI',
 'RETSURVM',
 'ROYESTB',
 'ROYESTB_',
 'ROYESTBX',
 'ROYE_TBX',
 'ROYESTX',
 'ROYESTX_',
 'ROYESTX1',
 'ROYESTX2',
 'ROYESTX3',
 'ROYESTX4',
 'ROYESTX5',
 'ROYESTXI',
 'ROYESTXM',
 'FSMP_RXM',
 'INTR_VXM',
 'NETR_NTM',
 'OTHR_GXM',
 'RETS_RVM',
 'ROYE_TXM',
 'DIVISION',
 'REFGEN',
 'HISP_REF',
 'HISP2']

In [0]:
features = pat.columns.drop("MPC", "Necessity_ratio")
target = 'Necessity_ratio'

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
logreg = LogisticRegression()
lineareg= LinearRegression()
model = lineareg.fit(pat[features],pat[target])

In [28]:
pat.isnull().sum()

Unnamed: 0                     0
NEWID                          0
Total expenses                 0
Entertainment                  0
Total Transportation cost      0
Total Housing                  0
Total Food                     0
Income before tax              0
Luxury expenses                0
FINATXEM                       0
Income minus total expenses    0
possible savings               0
Monthly after tax income       0
MPC                            0
dtype: int64